<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Dashboard</title>
    <meta name="description" content="Figma htmlGenerator" />
    <meta name="author" content="htmlGenerator" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" /> {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'myproject/css/styles.css' %}" />

    <style>
        /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
        
        body {
            background: #e5e5e5;
        }
    </style>
</head>

<body>
    <div class="e146_1696">
        <navbar class="e146_1700">
    </div>
    <div class="e146_1697"></div>
    <div class="e146_1698"></div>
    <div class="e146_1699"></div>
    <div class="e146_1702"></div>
    <div class="e146_1703"></div>
    <div class="e146_1704"></div>
    <div class="e249_960"></div>
    <span class="e146_1705">Settings</span>
    <span class="e146_1706">Position</span>
    <span class="e146_1707">Dashboard</span>
    <div class="e146_1708"></div>
    <div class="e146_1709"></div>
    <div class="e146_1710"></div>
    <span class="e146_1711">Active Positions</span
      ><span class="e146_1712">Security Advisor</span
      ><span class="e146_1713">Software Testing</span>
    <div class="e146_1714"></div>
    <div class="e146_1715"></div>
    <div class="e146_1716"></div>
    <div class="e146_1717"></div>
    <span class="e146_1718">Security Advisor</span
      ><span class="e146_1719">Software Testing</span>
    <div class="e146_1720"></div>
    <div class="e146_1721"></div>
    <div class="e146_1722">
        <div class="e146_1723"></div>
        <div class="e146_1724"></div>
    </div>
    <div class="e146_1725"></div>
    <div class="e146_1726"></div>
    <div class="e146_1727"></div>
    <div class="e146_1728"></div>
    <div class="e146_1729"></div>
    <div class="e146_1730"></div>
    <div class="e146_1731"></div>
    <div class="e146_1732"></div>
    <span class="e146_1733">Name</span><span class="e146_1734">Created</span
      ><span class="e146_1735">Target Date</span
      ><span class="e146_1736">Source of Candidates</span
      ><span class="e146_1737">Availability</span
      ><span class="e146_1738">Rahul</span
      ><span class="e146_1739">04/ 30/ 2021</span
      ><span class="e146_1740">05/ 06/ 2021</span
      ><span class="e146_1741">DICE</span><span class="e146_1742">Open</span
      ><span class="e146_1743">Vivek</span
      ><span class="e146_1744">03/ 29/ 2021</span
      ><span class="e146_1745">04/ 07/ 2021</span
      ><span class="e146_1746">LinkedIn</span><span class="e146_1747">Open</span
      ><span class="e146_1748">Ryan</span
      ><span class="e146_1749">08/ 05/ 2021</span
      ><span class="e146_1750">08/ 15/ 2021</span
      ><span class="e146_1751">BLS</span><span class="e146_1752">Open</span
      ><span class="e146_1753">Ankit</span
      ><span class="e146_1754">01/ 23/ 2021</span
      ><span class="e146_1755">01/ 30/ 2021</span
      ><span class="e146_1756">Glassdoor</span
      ><span class="e146_1757">Open</span><span class="e146_1758">Varun</span
      ><span class="e146_1759">10/ 12/ 2021</span
      ><span class="e146_1760">10/ 18/ 2021</span
      ><span class="e146_1761">DICE</span
      ><span class="e146_1762">Closing soon</span>
    <div class="e146_1763"></div>
    <div class="e146_1764">
        <div class="e146_1765"></div>
        <span class="e146_1766">Tuesday</span
        ><span class="e146_1767">July 13, 2021</span>
        <div class="e146_1768"></div>
        <div class="e146_1769"></div>
        <div class="e146_1770"></div>
        <div class="e146_1771">
            <div class="e146_1772"></div>
            <div class="e146_1773"></div>
        </div>
        <div class="e146_1774">
            <div class="e146_1775"></div>
            <div class="e146_1776"></div>
        </div>
        <span class="e146_1777">Meeting with Dhanshika at 3:15 PM </span
        ><span class="e146_1778">Conducted by Varun Kumar </span
        ><span class="e146_1779"
          >Interview regarding data engineer position
        </span>
        <div class="e146_1780"></div>
        <div class="e146_1781"></div>
        <div class="e146_1782"></div>
        <span class="e146_1783">Meeting with Rahul at 4:15 PM </span
        ><span class="e146_1784">Conducted by Varun Kumar </span
        ><span class="e146_1785"
          >Interview regarding Security engineer position
        </span>
        <div class="e146_1786"></div>
        <div class="e146_1787"></div>
        <div class="e146_1788"></div>
        <span class="e146_1789">Meeting with Vivek at 5:15 PM </span
        ><span class="e146_1790">Conducted by Varun Kumar </span
        ><span class="e146_1791">Interview regarding Engineer position </span>
        <div class="e146_1792"></div>
        <div class="e146_1793"></div>
        <div class="e146_1794"></div>
        <span class="e146_1795">Meeting with Ryan at 6:15 PM </span
        ><span class="e146_1796">Conducted by Varun Kumar </span
        ><span class="e146_1797"
          >Interview regarding Data management position
        </span>
        <div class="e146_1798"></div>
        <div class="e146_1799"></div>
        <div class="e146_1800"></div>
        <span class="e146_1801">Meeting with Ankit at 7:15 PM </span
        ><span class="e146_1802">Conducted by Varun Kumar </span
        ><span class="e146_1803"
          >Interview regarding Business Administration position
        </span>
        <div class="e146_1804"></div>
    </div>
    </div>
</body>

</html>