/* .146_1696 {
    overflow: hidden;
} */

.e146_1696 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 1080px;
    position: absolute;
}

.e146_1697 {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 843px;
    height: 369px;
    position: absolute;
    left: 106px;
    top: 206px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1698 {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 1705px;
    height: 392px;
    position: absolute;
    left: 106px;
    top: 642px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1699 {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 802px;
    height: 369px;
    position: absolute;
    left: 1009px;
    top: 206px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1700 {
    background-color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 1920px;
    height: 102px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e146_1702 {
    width: 80px;
    height: 72px;
    position: absolute;
    left: 106px;
    top: 15px;
    background-image: url(images/vuedata_logo_cropped_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e146_1703 {
    background-color: rgba(33.01295153796673, 33.01295153796673, 33.01295153796673, 1);
    width: 173px;
    height: 102px;
    position: absolute;
    left: 1328px;
    top: 0px;
}

.e146_1704 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(246.57545685768127, 246.57545685768127, 246.57545685768127, 1);
    width: 843px;
    height: 74px;
    position: absolute;
    left: 106px;
    top: 275px;
}

.e249_960 {
    background-color: rgba(255, 255, 255, 1);
    width: 843px;
    height: 67px;
    position: absolute;
    left: 106px;
    top: 349px;
}

.e146_1705 {
    color: rgba(255, 255, 255, 1);
    width: 105px;
    height: 34px;
    position: absolute;
    left: 1713px;
    top: 38px;
    font-family: Raleway;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2;
}

.e146_1706 {
    color: rgba(255, 255, 255, 1);
    width: 99px;
    height: 34px;
    position: absolute;
    left: 1553px;
    top: 38px;
    font-family: Raleway;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2;
}

.e146_1707 {
    color: rgba(255, 255, 255, 1);
    width: 137px;
    height: 34px;
    position: absolute;
    left: 1340px;
    top: 38px;
    font-family: Raleway;
    text-align: left;
    font-size: 25px;
    letter-spacing: 2;
}

.e146_1708 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 843px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 275px;
}

.e146_1709 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 843px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 350px;
}

.e146_1710 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 843px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 417px;
}

.e146_1711 {
    color: rgba(0, 0, 0, 1);
    width: 234px;
    height: 36px;
    position: absolute;
    left: 120px;
    top: 221px;
    font-family: Raleway;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.e146_1712 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 191px;
    top: 298px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1713 {
    color: rgba(0, 0, 0, 1);
    width: 206px;
    height: 36px;
    position: absolute;
    left: 192px;
    top: 365px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1714 {
    background-color: rgba(255, 137.35224813222885, 137.35224813222885, 1);
    width: 13px;
    height: 33px;
    position: absolute;
    left: 155px;
    top: 299px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1715 {
    background-color: rgba(255, 207.0522576570511, 113.97725522518158, 1);
    width: 13px;
    height: 33px;
    position: absolute;
    left: 155px;
    top: 363px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1716 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 843px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 490px;
}

.e146_1717 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 843px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 575px;
}

.e146_1718 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 191px;
    top: 438px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1719 {
    color: rgba(0, 0, 0, 1);
    width: 206px;
    height: 36px;
    position: absolute;
    left: 192px;
    top: 509px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1720 {
    background-color: rgba(142.82004833221436, 255, 140.5306711792946, 1);
    width: 13px;
    height: 33px;
    position: absolute;
    left: 155px;
    top: 439px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1721 {
    background-color: rgba(128.85224103927612, 186.88020408153534, 255, 1);
    width: 13px;
    height: 33px;
    position: absolute;
    left: 155px;
    top: 510px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1722 {
    width: 1705px;
    height: 70px;
    position: absolute;
    left: 106px;
    top: 642px;
}

.e146_1723 {
    background-color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 1705px;
    height: 54.78260803222656px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1724 {
    background-color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    width: 1705px;
    height: 39.565216064453125px;
    position: absolute;
    left: 0px;
    top: 30.434782028198242px;
}

.e146_1725 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1px;
    height: 392px;
    position: absolute;
    left: 447px;
    top: 642px;
}

.e146_1726 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1705px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 782px;
}

.e146_1727 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1705px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 845px;
}

.e146_1728 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1705px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 911px;
}

.e146_1729 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1705px;
    height: 1px;
    position: absolute;
    left: 106px;
    top: 971px;
}

.e146_1730 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1px;
    height: 392px;
    position: absolute;
    left: 785px;
    top: 642px;
}

.e146_1731 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1px;
    height: 392px;
    position: absolute;
    left: 1100px;
    top: 642px;
}

.e146_1732 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 1px;
    height: 392px;
    position: absolute;
    left: 1459px;
    top: 642px;
}

.e146_1733 {
    color: rgba(255, 255, 255, 1);
    width: 85px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 661px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1734 {
    color: rgba(255, 255, 255, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 661px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1735 {
    color: rgba(255, 255, 255, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 661px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1736 {
    color: rgba(255, 255, 255, 1);
    width: 276px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 659px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1737 {
    color: rgba(255, 255, 255, 1);
    width: 151px;
    height: 36px;
    position: absolute;
    left: 1566px;
    top: 661px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1738 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 734px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1739 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 734px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1740 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 734px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1741 {
    color: rgba(0, 0, 0, 1);
    width: 266px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 732px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1742 {
    color: rgba(52.770831137895584, 158.31250101327896, 75.99000200629234, 1);
    width: 136px;
    height: 36px;
    position: absolute;
    left: 1574px;
    top: 734px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1743 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 797px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1744 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 798px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1745 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 798px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1746 {
    color: rgba(0, 0, 0, 1);
    width: 266px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 796px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1747 {
    color: rgba(52.770831137895584, 158.31250101327896, 75.99000200629234, 1);
    width: 136px;
    height: 36px;
    position: absolute;
    left: 1574px;
    top: 798px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1748 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 862px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1749 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 863px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1750 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 863px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1751 {
    color: rgba(0, 0, 0, 1);
    width: 266px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 861px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1752 {
    color: rgba(52.770831137895584, 158.31250101327896, 75.99000200629234, 1);
    width: 136px;
    height: 36px;
    position: absolute;
    left: 1574px;
    top: 863px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1753 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 924px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1754 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 925px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1755 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 925px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1756 {
    color: rgba(0, 0, 0, 1);
    width: 266px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 923px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1757 {
    color: rgba(52.770831137895584, 158.31250101327896, 75.99000200629234, 1);
    width: 136px;
    height: 36px;
    position: absolute;
    left: 1574px;
    top: 925px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1758 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: 36px;
    position: absolute;
    left: 224px;
    top: 987px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1759 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 517px;
    top: 988px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1760 {
    color: rgba(0, 0, 0, 1);
    width: 199px;
    height: 36px;
    position: absolute;
    left: 843px;
    top: 988px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1761 {
    color: rgba(0, 0, 0, 1);
    width: 266px;
    height: 36px;
    position: absolute;
    left: 1156px;
    top: 986px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1762 {
    color: rgba(235.93835324048996, 127.4066998064518, 0, 1);
    width: 166px;
    height: 36px;
    position: absolute;
    left: 1559px;
    top: 987px;
    font-family: Raleway;
    text-align: center;
    font-size: 26px;
    letter-spacing: 0;
}

.e146_1763 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 2031px;
    height: 1161px;
    position: absolute;
    left: -83px;
    top: 5240px;
}

.e146_1764 {
    width: 776px;
    height: 339px;
    position: absolute;
    left: 1020px;
    top: 222px;
}

.e146_1765 {
    background-color: rgba(82.99999505281448, 161.99997514486313, 190.0000038743019, 0.15000000596046448);
    width: 776px;
    height: 339px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1766 {
    color: rgba(0, 0, 0, 1);
    width: 169px;
    height: 58px;
    position: absolute;
    left: 119px;
    top: 25px;
    font-family: Raleway;
    text-align: left;
    font-size: 40px;
    letter-spacing: 2;
}

.e146_1767 {
    color: rgba(0, 0, 0, 1);
    width: 134px;
    height: 27px;
    position: absolute;
    left: 140px;
    top: 83px;
    font-family: Raleway;
    text-align: left;
    font-size: 21px;
    letter-spacing: 2;
}

.e146_1768 {
    background-color: rgba(254.00085121393204, 117.76401042938232, 117.76401042938232, 1);
    width: 15px;
    height: 5px;
    position: absolute;
    left: 31px;
    top: 158px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1769 {
    background-color: rgba(254.00085121393204, 117.76401042938232, 117.76401042938232, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 59px;
    top: 185px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1770 {
    background-color: rgba(254.00085121393204, 117.76401042938232, 117.76401042938232, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 59px;
    top: 210px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1771 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 303px;
    top: 39px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1772 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e146_1773 {
    background-color: rgba(0, 0, 0, 1);
    width: 7.409999847412109px;
    height: 12px;
    position: absolute;
    left: 8.59000015258789px;
    top: 6px;
}

.e146_1774 {
    width: 24px;
    height: 26px;
    position: absolute;
    left: 72px;
    top: 40px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1775 {
    width: 24px;
    height: 26px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e146_1776 {
    background-color: rgba(0, 0, 0, 1);
    width: 7.409999847412109px;
    height: 13px;
    position: absolute;
    left: 8px;
    top: 6.5px;
}

.e146_1777 {
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: 20px;
    position: absolute;
    left: 59px;
    top: 152px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1778 {
    color: rgba(0, 0, 0, 1);
    width: 203px;
    height: 16px;
    position: absolute;
    left: 71px;
    top: 180px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1779 {
    color: rgba(0, 0, 0, 1);
    width: 297px;
    height: 17px;
    position: absolute;
    left: 73px;
    top: 204px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1780 {
    background-color: rgba(254.00085121393204, 191.33190840482712, 117.76401042938232, 1);
    width: 15px;
    height: 5px;
    position: absolute;
    left: 31px;
    top: 241px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1781 {
    background-color: rgba(254.00085121393204, 191.33190840482712, 117.76401042938232, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 59px;
    top: 268px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1782 {
    background-color: rgba(254.00085121393204, 191.33190840482712, 117.76401042938232, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 59px;
    top: 293px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1783 {
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: 20px;
    position: absolute;
    left: 59px;
    top: 235px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1784 {
    color: rgba(0, 0, 0, 1);
    width: 203px;
    height: 16px;
    position: absolute;
    left: 71px;
    top: 263px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1785 {
    color: rgba(0, 0, 0, 1);
    width: 291px;
    height: 37px;
    position: absolute;
    left: 73px;
    top: 287px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1786 {
    background-color: rgba(255, 213.03117603063583, 64.23287808895111, 1);
    width: 15px;
    height: 5px;
    position: absolute;
    left: 415px;
    top: 43px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1787 {
    background-color: rgba(255, 213.03117603063583, 64.23287808895111, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 70px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1788 {
    background-color: rgba(255, 213.03117603063583, 64.23287808895111, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 95px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1789 {
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: 20px;
    position: absolute;
    left: 443px;
    top: 37px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1790 {
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 16px;
    position: absolute;
    left: 455px;
    top: 65px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1791 {
    color: rgba(0, 0, 0, 1);
    width: 291px;
    height: 17px;
    position: absolute;
    left: 457px;
    top: 89px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1792 {
    background-color: rgba(117.76401042938232, 254.00085121393204, 131.38767778873444, 1);
    width: 15px;
    height: 5px;
    position: absolute;
    left: 415px;
    top: 144px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1793 {
    background-color: rgba(117.76401042938232, 254.00085121393204, 131.38767778873444, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 171px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1794 {
    background-color: rgba(117.76401042938232, 254.00085121393204, 131.38767778873444, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 196px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1795 {
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: 20px;
    position: absolute;
    left: 443px;
    top: 138px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1796 {
    color: rgba(0, 0, 0, 1);
    width: 204px;
    height: 16px;
    position: absolute;
    left: 455px;
    top: 166px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1797 {
    color: rgba(0, 0, 0, 1);
    width: 291px;
    height: 17px;
    position: absolute;
    left: 457px;
    top: 190px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1798 {
    background-color: rgba(86.26284956932068, 226.3758623600006, 192.74873077869415, 1);
    width: 15px;
    height: 5px;
    position: absolute;
    left: 415px;
    top: 242px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1799 {
    background-color: rgba(86.26284956932068, 226.3758623600006, 192.74873077869415, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 269px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1800 {
    background-color: rgba(86.26284956932068, 226.3758623600006, 192.74873077869415, 1);
    width: 5px;
    height: 5px;
    position: absolute;
    left: 443px;
    top: 294px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.e146_1801 {
    color: rgba(0, 0, 0, 1);
    width: 243px;
    height: 20px;
    position: absolute;
    left: 443px;
    top: 236px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1802 {
    color: rgba(0, 0, 0, 1);
    width: 204px;
    height: 16px;
    position: absolute;
    left: 455px;
    top: 264px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1803 {
    color: rgba(0, 0, 0, 1);
    width: 291px;
    height: 17px;
    position: absolute;
    left: 457px;
    top: 288px;
    font-family: Raleway;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2;
}

.e146_1804 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 324px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 132px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}